// 布局
.flex-row-start
  display-flex row flex-start flex-start
.flex-row-start-center
  display-flex row flex-start center
.flex-row-start-end
  display-flex row flex-start flex-end
.flex-row-start-stretch
  display-flex row flex-start stretch
.flex-row-center-start
  display-flex row center flex-start
.flex-row-center
  display-flex row center center
.flex-row-center-end
  display-flex row center flex-end
.flex-row-center-stretch
  display-flex row center stretch
.flex-row-end-start
  display-flex row flex-end flex-start
.flex-row-end-center
  display-flex row flex-end center
.flex-row-end
  display-flex row flex-end flex-end
.flex-row-end-stretch
  display-flex row flex-end stretch
.flex-row-between-start
  display-flex row space-between flex-start
.flex-row-between-center
  display-flex row space-between center
.flex-row-between-end
  display-flex row space-between flex-end
.flex-row-between-stretch
  display-flex row space-between stretch
.flex-row-around-start
  display-flex row space-around flex-start
.flex-row-around-center
  display-flex row space-around center
.flex-row-around-end
  display-flex row space-around flex-end
.flex-row-around-stretch
  display-flex row space-around stretch
.flex-column-start
  display-flex column flex-start flex-start
.flex-column-start-center
  display-flex column flex-start center
.flex-column-start-end
  display-flex column flex-start flex-end
.flex-column-start-stretch
  display-flex column flex-start stretch
.flex-column-center-start
  display-flex column center flex-start
.flex-column-center
  display-flex column center center
.flex-column-center-end
  display-flex column center flex-end
.flex-column-center-stretch
  display-flex column center stretch
.flex-column-end-start
  display-flex column flex-end flex-start
.flex-column-end-center
  display-flex column flex-end center
.flex-column-end
  display-flex column flex-end flex-end
.flex-column-end-stretch
  display-flex column flex-end stretch
.flex-column-between-start
  display-flex column space-between flex-start
.flex-column-between-center
  display-flex column space-between center
.flex-column-between-end
  display-flex column space-between flex-end
.flex-column-between-stretch
  display-flex column space-between stretch
.flex-column-around-start
  display-flex column space-around flex-start
.flex-column-around-center
  display-flex column space-around center
.flex-column-around-end
  display-flex column space-around flex-end
.flex-column-around-stretch
  display-flex column space-around stretch
.flex-nowrap
  flex-grow nowrap
.flex-1
  flex 1
.flex-1-0
  flex 1 0
.flex-0-1
  flex 0 1
.flex-1-auto
  flex 1 1 auto
.flex-1-0-auto
  flex 1 0 auto
.flex-0-1-auto
  flex 0 1 auto
// 宽度
.width-full
  width 100%
// 高度
.height-full
  height 100%
// 文本设置
.text-left
  text-align left
.text-center
  text-align center
.text-right
  text-align right
.text-justify
  text-align justify
.text-wrap
  word-wrap break-word
  word-break normal
.text-nowrap
  white-space nowrap
.text-break
  word-break break-all
.text-ellipsis
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
// 其它设置
.outline-none
  outline none
.user-select-none
  user-select none
// 边框
.border-none
  border none
// 边距
.padding-0
  padding 0
// 字体大小
.size-12
  font-size size(12)
.size-13
  font-size size(13)
.size-14
  font-size size(14)
.size-16
  font-size size(16)
.size-18
  font-size size(18)
.size-20
  font-size size(20)
.weight-bold
  font-weight bold
.weight-bolder
  font-weight bolder
// 字体颜色
.color-brand
  color $brand
.color-success
  color $success
.color-warning
  color $warning
.color-danger
  color $danger
.color-info
  color $info
// 背景色
.bgcolor-brand
  background-color $brand
.bgcolor-success
  background-color $success
.bgcolor-warning
  background-color $warning
.bgcolor-danger
  background-color $danger
.bgcolor-info
  background-color $info
