display-flex(flex-direction, justify-content, align-items)
  display flex
  // flex-flow flex-direction flex-grow
  flex-direction flex-direction
  justify-content justify-content
  align-items align-items
size(font-size, uni=px)
  ("%s" % (font-size)) + uni
$brand = #409EFF
$success = #67C23A
$warning = #E6A23C
$danger = #F56C6C
$info = #909399
$menu-bgcolor = #011529
$submenu-bgcolor = #000b16
$menu-text-color = rgba(255,255,255,0.6)
$menu-active-text-color = #ffffff